<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="static/test.css" rel="stylesheet">
</head>
<style>
    #content {
        position: relative;
    }
    #content img {
        position: absolute;
        top: 0px;
        right: 0px;
    }
</style>

<div id="content">
    <img src="https://cdn.freebiesupply.com/images/large/2x/steam-logo-transparent.png" class="ribbon" height="100" width="100" style="background:transparent;"/>
</div>
<body>
    <h1>
         <a href = "{{ url_for('index') }}">The Gaming Encyclopedia</a>

    </h1>
        <form action="{{ url_for('show_cluster_or_id') }}" method=post class=show-cluster-or-id>
      <dl>
          <input type=text size=25 name=game_id placeholder="Game ID">
          <input type=text size=25 name=game_name placeholder="Game Name">
          <input type=submit class="btn btn-primary" value=Submit>
      </dl>
    </form>

    <hr/>
    <table style="margin-left:auto;margin-right:auto;">
         <thead>
            <tr>
               <th>Game ID</th>
               <th>Title</th>
               <th>Genres</th>
                <th>Release Date</th>
                <th>URL</th>
            </tr>
         </thead>

         <tbody>
            {% for game in games %}
               <tr>
                   <td>{{ game.game_id }}</td>
                   <td>{{ game.title }}</td>
                   <td>{{ game.genre }}</td>
                   <td>{{ game.release_date }}</td>
                   <td><a href={{ game.url }}>{{ game.url }}</a></td>
               </tr>
            {% endfor %}
         </tbody>
      </table>


</body>
</html>